{
  "extends": [
	  "prettier-standard",
    "plugin:react/recommended"
  ],

  "plugins": [
    "babel",
    "react"
  ],

  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true
  },

  "globals": {
  }
}
